<div id="card">
    <ul id="profile-menu" class="nav nav-pills flex-column mail-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'show_user_profile' %}"><i class="fa fa-user fa-fw"></i> Account Details</a></li>
        <li class="nav-item active"><a class="nav-link" href="{% url 'user-orders' %}"><i class="fa fa-inbox fa-fw"></i> Orders<span class="badge badge-pill badge-primary float-right">12</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'user-saved-items' %}"><i class="fa fa-heart-o fa-fw"></i> Save Items</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Pending Reviews</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-eye fa-fw"></i> Recently Viewed <span class="badge badge-pill badge-primary float-right">8</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-pencil fa-fw"></i> Details</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
      </ul>
</div>